<header class="sticky top-0 bg-white shadow h-[70px]">
  <div class="container flex flex-col sm:flex-row justify-between items-center mx-auto py-4 px-8">
    <div class="flex items-center text-2xl">
      <div class="w-12 mr-3"></div>IGrow
    </div>
    <div class="flex mt-4 sm:mt-0">
      {% comment %} <a class="px-4 {% if current_page == 'disease' %}text-teal-500 font-bold{% endif %}" href="{% url 'core:disease' %}">Disease Prediction</a> {% endcomment %}
      {% comment %} <a class="px-4 {% if current_page == 'crop_recommendation' %}text-teal-500 font-bold{% endif %}" href="{% url 'core:crop_recommendation' %}">Crop recommendation</a> {% endcomment %}
      {% comment %} <a class="px-4 {% if current_page == 'weather_forecast' %}text-teal-500 font-bold{% endif %}" href="{% url 'core:weather_forecast' %}">Weather forecasting</a> {% endcomment %}
      {% comment %} <a class="px-4" href="#testimonials">Testimonials</a> {% endcomment %}
      <button class="text-gray-500 hover:text-gray-600" id="open-sidebar">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    <div class="hidden md:block">
      <div class="flex gap-3 items-center">
        <h1>Welcome, {{ user.username }} !</h1>
        <a href="/accounts/logout" class="py-3 px-8 text-sm bg-teal-500 hover:bg-teal-600 rounded text-white">logout</a>
      </div>
    </div>
  </div>
</header>
